@using BDTest.ReportGenerator.Builders.Razor.Models
@{
    ViewBag.Title = "Summary";
    Layout = "_Layout";
}


<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column has-text-centered">
                <p class="subtitle">
                    Welcome to your report by <strong>BDTest</strong>!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="subtitle">
            Here is a <strong>summary</strong> of your tests:
        </h2>

        @await Html.PartialAsync("_SummaryGraphics", new SummaryViewModel {Scenarios = Model.Scenarios})
    </div>
</section>