@model string

<button class="button" onclick="collapseExpandGroupedScenarios('@Model', true);">Expand All</button>
<button class="button" onclick="collapseExpandGroupedScenarios('@Model', false);">Collapse All</button>