<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://github.com/thomhurst/BDTest" target="_blank">
            <h1 class="title">BDTest</h1>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="https://github.com/thomhurst/BDTest" target="_blank">
                Github
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="https://github.com/thomhurst/BDTest/wiki" target="_blank">
                        Wiki
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="https://github.com/thomhurst/BDTest/issues" target="_blank">
                        Report an issue
                    </a>
                </div>
            </div>
            
            
            <a class="navbar-item" href="~/bdtest/report/test-runs">
                Previous Test Runs
            </a>
        </div>

        @* <div class="navbar-end"> *@
        @*     <div class="navbar-item"> *@
        @*         <div class="buttons"> *@
        @*             <a class="button is-primary" href="#"> *@
        @*                 <strong>Back to Top</strong> *@
        @*             </a> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@
    </div>
</nav>