@model BDTest.ReportGenerator.RazorServer.Models.TestTimesPieChartViewModel

<canvas id="myChart-@Model.StoryIndex" width="400" height="400"></canvas>

    <div class="container has-text-right mb-6">
        <p class="is-size-7">* Amounts are in milliseconds</p>
    </div>

<script>
function getRandomColor() {
            let letters = '0123456789ABCDEF'.split('');
            let color = '#';
            for (let i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
                }
              
var ctx = document.getElementById('myChart-@Model.StoryIndex').getContext('2d');
data = {
    datasets: [{
        data: [
            @foreach (var scenario in Model.Scenarios)
                    {
                        @scenario.TimeTaken.TotalMilliseconds@:,
                    }
            ],
            backgroundColor: [
                @for (var index = 0; index < Model.Scenarios.Count; index++)
                {
                    @:getRandomColor(),
                }
            ]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        @foreach (var scenario in Model.Scenarios)
        {
            @:'@scenario.GetScenarioText()',
        }
    ]
}

var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: data,
    options: {
        legend: {
            display: false
        }
    }
})
</script>