@using BDTest.NetCore.Razor.ReportMiddleware.Helpers
@using BDTest.NetCore.Razor.ReportMiddleware.Models
@using BDTest.NetCore.Razor.ReportMiddleware.Models.ViewModels
@using BDTest.Test
@using BDTest.NetCore.Razor.ReportMiddleware.Extensions
@model IGrouping<string, Scenario>[]

@{
    ViewBag.Title = "Scenarios";
    Layout = "_Layout";
    
    var filterByQueryParameter = Context.Request.GetQueryParameter("filterByStatus");
    var scenarioId = Context.Request.GetQueryParameter("scenarioId");

    var currentPageString = Context.GetCurrentPageNumber();

    if (filterByQueryParameter != null)
    {
        <script>
            onDomLoaded(function() {
              filterByStatus('@filterByQueryParameter');
            });
        </script>
    }
    
    var pager = new Pager<IGrouping<string, Scenario>>(Model, currentPageString);

    if (!string.IsNullOrEmpty(scenarioId))
    {
        var pageNumberOfScenario = pager.GetPageNumberWhere(grouping => grouping.ToList().FirstOrDefault(scenario => scenario.Guid == scenarioId) != null);
        if (pageNumberOfScenario != null)
        {
            pager = new Pager<IGrouping<string, Scenario>>(Model, pageNumberOfScenario.Value.ToString());
        }
    }
}

@await Html.PartialAsync("_TestPageHeaderHero", new TestPageHeaderHeroViewModel
{
    Title = "Scenarios",
    Description = "Here are the scenarios in this test run",
    ReportId = ViewBag.Id
})

<div class="container mt-6">
    <nav class="level">
        <div class="level-item">
            @await Html.PartialAsync("_PaginationButtons", pager.GetPaginationInformation())
        </div>
    </nav>
</div>

    <div class="container-fluid">
    <div class="box" id="all-scenarios-container">
        <div class="btn-group" role="group" >
            @await Html.PartialAsync("_StatusDropdown", new StatusDropdownViewModel { IncludeScript = true })
            @await Html.PartialAsync("_OrderByDropdown")
            <div class="scenarios-buttons-row">
                @await Html.PartialAsync("_CollapseExpandGroupedScenariosButtons", "all-scenarios-container")
                @* <button class="button toggle-hide pointer" toggle-alternative-text="Hide Summary" element-id-to-hide="summary">Show Summary</button> *@
            </div>
        </div>

        <div class="scrollable-table-container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Scenario</th>
                    <th scope="col">Status</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                </tr>
                </thead>
                <tbody>

                @{ var scenarioIndex = new ReferenceInt(0); }
                @{ var groupedScenariosCount = new ReferenceInt(0); }
                @foreach (var groupedScenarios in pager.ItemsForCurrentPage)
                {
                    @await Html.PartialAsync("_GroupedScenarioTableRow", new GroupedScenarioViewModel
                    {
                        Scenarios = groupedScenarios.ToList(),
                        ScenarioIndex = scenarioIndex,
                        GroupedScenarioIndex = groupedScenariosCount,
                    })
                }

                </tbody>
            </table>
        </div>

        @if (pager.TotalItems == 0)
        {
            @(await Html.PartialAsync("_WowSuchEmpty"))
        }
    </div>


        @{
            var allScenarios = pager.ItemsForCurrentPage.SelectMany(groupedScenarios => groupedScenarios).ToList();
        }
        @* @for (var index = 0; index < allScenarios.Count; index++) *@
        @* { *@
        @*     var lastScenario = allScenarios.ElementAtOrDefault(index - 1); *@
        @*     var scenario = allScenarios[index]; *@
        @*     var nextScenario = allScenarios.ElementAtOrDefault(index + 1); *@
        @*      *@
        @*     @await Html.PartialAsync("_ScenarioModalPopup", new ScenarioModalViewModel *@
        @*     { *@
        @*         LastScenario = lastScenario, *@
        @*         Scenario = scenario, *@
        @*         NextScenario = nextScenario *@
        @*     }) *@
        @* } *@

    </div>

<div class="container mb-6">
    <nav class="level">
        <div class="level-item">
            @await Html.PartialAsync("_PaginationButtons", pager.GetPaginationInformation())
        </div>
    </nav>
</div>