@model string

@{
    ViewBag.Title = $"Report '{Model}' Not Found";
    Layout = "_Layout";
}

<div id="wow-such-empty" class="section center-horizontally has-text-centered is-vcentered">
    <h2 class="title">The report '@Model' doesn't seem to exist!</h2>
</div>