@{
    ViewBag.Title = "Reports Not Found";
    Layout = "_Layout";
}

<div id="wow-such-empty" class="d-grid justify-content-center">
    <h1 class="display-6 fw-bold">Those reports couldn't be found!</h1>
</div>