@model string

@{
    ViewBag.Title = $"Report '{Model}' Not Found";
    Layout = "_Layout";
}

<div id="wow-such-empty" class="d-grid justify-content-center">
    <h1 class="display-6 fw-bold">The report '@Model' doesn't seem to exist!</h1>
</div>