@{
    ViewBag.Title = "Reports Not Found";
    Layout = "_Layout";
}

<div id="wow-such-empty" class="section center-horizontally has-text-centered align-middle">
    <h2 class="title">Those reports couldn't be found!</h2>
</div>