@using BDTest.NetCore.Razor.ReportMiddleware.Models.ViewModels
@model BDTest.Maps.BDTestOutputModel

@{
    ViewBag.Title = "Test Times";
    Layout = "_Layout";
}

@await Html.PartialAsync("_TestPageHeaderHero", new TestPageHeaderHeroViewModel
{
    Title = "Test Times",
    Description = $"Here is a breakdown of the times that your tests took to run{Environment.NewLine}Hover over a slice to view more details",
    ReportId = Model.Id
})

<section class="section">
    <div class="container">

        @await Html.PartialAsync("_TestTimesPieChart", new TestTimesPieChartViewModel { Scenarios = Model.Scenarios })

        </div>
</section>