@using BDTest.Razor.Reports.Constants
@using BDTest.Test
@model List<Step>

<div>
    <h5>Step Durations</h5>
    <canvas id="duration-step-chart" class="max-width-100"></canvas>
</div>

@* Duration Trend Chart *@
<script>
{
let chartData = {
    datasets: [{
        backgroundColor: "@ColourConstants.PrimaryHex",
        borderColor: "@ColourConstants.PrimaryHex",
        label: "Milliseconds",
        data: [
            @foreach (var timespan in Model.Select(model => model.EndTime - model.StartTime))
            {
                @((long)timespan.TotalMilliseconds)@:,
            }
            ]
    }],

    labels: [
        @foreach (var step in Model)
        {
            @:"@step.StepText",
        }
    ]
}

let chartConfig = {
    type: 'line',
    data: chartData,
    options: {
            resizeDelay: 100,
            legend: {
                        display: false
                    },
            scales: {
                y: {
                  scaleLabel: {
                    labelString: 'Milliseconds'
                  },
                  ticks: {
                      beginAtZero:true,
                      // Include a dollar sign in the ticks
                      callback: function(value, index, values) {
                          return value + "ms";
                      }
                      }
                }
              },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                      return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] + " ms";
                    }
                }
            },
        }
    }

let durationChart = new Chart(document.getElementById('duration-step-chart'), chartConfig);
}
</script>