@using BDTest.Razor.Reports.Extensions
@model BDTest.Razor.Reports.Models.ViewModels.TestPageHeaderHeroViewModel

<div class="px-4 my-5 text-center">
    <h1 class="display-5 fw-bold">@Model.Title</h1>
    <div class="col-lg-6 mx-auto">
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <p class="lead mb-3">@Model.Description</p>
        }
    </div>
    @if (Model.ButtonViewModel != null)
    {
        <div>
            <button class="btn @Model.ButtonViewModel.Status.GetCssColourValueForStatus()">@Model.ButtonViewModel.Text</button>
        </div>
    }
</div>