@model string

<button class="button is-rounded" onclick="collapseExpandGroupedScenarios('@Model', true);">Expand All</button>
<button class="button is-rounded" onclick="collapseExpandGroupedScenarios('@Model', false);">Collapse All</button>