@model string

<button class="btn btn-light" onclick="collapseExpandGroupedScenarios('@Model', true);">Expand All</button>
<button class="btn btn-light" onclick="collapseExpandGroupedScenarios('@Model', false);">Collapse All</button>