@{
    var title = ViewBag.Title ?? "BDTest Report";   
} 

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>
    @await Html.PartialAsync("_Css")
    @await Html.PartialAsync("_Javascript")
</head>
<body style="overflow-y: clip">
@await Html.PartialAsync("_SvgIcons")
<main>
    @await Html.PartialAsync("_NavBarHeader")
    @await Html.PartialAsync("_SideMenu")
    @* @await Html.PartialAsync("_Tabs") *@
    <div id="main-body" class="main-body container-fluid" style="overflow-y: auto; margin-top: 87px">
        @RenderBody()
    </div>
</main>
<div id="snackbar" class="btn btn-primary no-pointer">Toast!</div>
</body>
</html>