@* Page Number to Render, Current Page Number *@
@using BDTest.NetCore.Razor.ReportMiddleware.Helpers
@model (int PageNumberForLink, int CurrentPageNumber)

@{
    var isCurrentAttribute = Model.PageNumberForLink == Model.CurrentPageNumber ? "active" : "";
}
<li class="page-item @isCurrentAttribute">
    <a class="page-link" href="@Context.GetUrlForPageNumber(Model.PageNumberForLink)" aria-label="Page @Model.PageNumberForLink">@Model.PageNumberForLink</a>
</li>4