@* Page Number to Render, Current Page Number *@
@using BDTest.NetCore.Razor.ReportMiddleware.Helpers
@model (int PageNumberForLink, int CurrentPageNumber)

@{
    var isCurrentAttribute = Model.PageNumberForLink == Model.CurrentPageNumber ? "is-current" : "";
}
<li>
    <a class="pagination-link @isCurrentAttribute" href="@Context.GetUrlForPageNumber(Model.PageNumberForLink)" aria-label="Page @Model.PageNumberForLink">@Model.PageNumberForLink</a>
</li>