@model BDTest.NetCore.Razor.ReportMiddleware.Models.ViewModels.TestPageHeaderHeroViewModel

<div class="px-4 my-5 text-center">
    @* <img class="d-block mx-auto mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> *@
    <h1 class="display-5 fw-bold">@Model.Title</h1>
    <div class="col-lg-6 mx-auto">
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <p class="lead mb-4">@Model.Description</p>
        }
        @if (!string.IsNullOrEmpty(Model.ReportId))
        {
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                @await Html.PartialAsync("_PreviousNextReportButtons", Model.ReportId)
            </div>
        }
    </div>
</div>