<script>
    function clickColumnVisibilityButton(element) {
        if(window.event.toElement.tagName === "INPUT") {
            return;   
        }
        
        let checkbox = element.firstElementChild.firstElementChild;
        
        changeCheckboxValueAndFireEvent(checkbox);
    }
    
    function changeCheckboxValueAndFireEvent(checkbox) {
      checkbox.checked = !checkbox.checked;
        
      let event = document.createEvent("HTMLEvents");
      event.initEvent('change', false, true);
      checkbox.dispatchEvent(event);
    }
    
    function toggleColumnVisibility(checkbox) {
        let target = checkbox.dataset.target;
        let columnFields = document.getElementsByClassName(target)
        
        for (let columnField of columnFields) {
            setElementVisibility(columnField, checkbox.checked);
        }
        
        setCookie("is-visible-test-run-list-" + target, checkbox.checked.toString())
    }
        
    onDomLoaded(function() {
        let checkboxIds = ["tag-visible-column-checkbox", "environment-visible-column-checkbox", "machine-visible-column-checkbox" ,"branch-visible-column-checkbox"];
        
        for (let checkboxId of checkboxIds) {
            let checkbox = document.getElementById(checkboxId);
            let target = checkbox.dataset.target;
            let savedCookieValue = getCookie("is-visible-test-run-list-" + target);
            
            if(savedCookieValue == null) {
                continue;
            }
            
            /* They're checked by default, so if they're remembered as unchecked, toggle it to off! */
            if(savedCookieValue == 'false') {
                changeCheckboxValueAndFireEvent(checkbox);
            }
        }
    });
</script>

<div class="dropdown">
    <div class="dropdown-trigger">
        <button class="button is-info is-rounded" aria-haspopup="true" aria-controls="dropdown-menu">
            <p id="visible-columns-dropdown">Visible Columns <i class="arrow down"></i></p>
            @* <span class="icon is-small"> *@
            @*   <i class="fas fa-angle-down" aria-hidden="true"></i> *@
            @* </span> *@
        </button>
    </div>
    <div class="dropdown-menu has-text-centered" id="environment-dropdown-menu" role="menu">
        <div class="dropdown-content has-text-centered">
            
            <div class="dropdown-item" onclick="clickColumnVisibilityButton(this)">
                <button class="button is-fullwidth is-rounded">
                    <input id="tag-visible-column-checkbox" type="checkbox" class="mr-4" checked="checked" data-target="tag-column" onchange="toggleColumnVisibility(this)"/>
                    Tag
                </button>
            </div>
            
            <div class="dropdown-item" onclick="clickColumnVisibilityButton(this)">
                <button class="button is-fullwidth is-rounded">
                    <input id="environment-visible-column-checkbox" type="checkbox" class="mr-4" checked="checked" data-target="environment-column" onchange="toggleColumnVisibility(this)"/>
                    Environment
                </button>
            </div>
            
            <div class="dropdown-item" onclick="clickColumnVisibilityButton(this)">
                <button class="button is-fullwidth is-rounded">
                    <input id="machine-visible-column-checkbox" type="checkbox" class="mr-4" checked="checked" data-target="machine-column" onchange="toggleColumnVisibility(this)"/>
                    Machine
                </button>
            </div>
            
            <div class="dropdown-item" onclick="clickColumnVisibilityButton(this)">
                <button class="button is-fullwidth is-rounded">
                    <input id="branch-visible-column-checkbox" type="checkbox" class="mr-4" checked="checked" data-target="branch-column" onchange="toggleColumnVisibility(this)"/>
                    Branch
                </button>
            </div>
            
            <div class="dropdown-item" onclick="clickColumnVisibilityButton(this)">
                <button class="button is-fullwidth is-rounded">
                    <input id="date-visible-column-checkbox" type="checkbox" class="mr-4" checked="checked" data-target="date-column" onchange="toggleColumnVisibility(this)"/>
                    Date
                </button>
            </div>
            
            <div class="dropdown-item" onclick="clickColumnVisibilityButton(this)">
                <button class="button is-fullwidth is-rounded">
                    <input id="duration-visible-column-checkbox" type="checkbox" class="mr-4" checked="checked" data-target="duration-column" onchange="toggleColumnVisibility(this)"/>
                    Duration
                </button>
            </div>

        </div>
    </div>
</div>