@model BDTest.NetCore.Razor.ReportMiddleware.Views.BDTest.TrendsPageGenericDropdownViewModel

@{
    var javascriptMethodName = $"filter{Model.QueryParameterName}";
}

<script>
    function @javascriptMethodName (value) {
      window.location.href = getUrlWithAppendedParameter('@Model.QueryParameterName', value);
    }
</script>

<li class="nav-item dropdown">
    <a id="@Model.ButtonId" class="bg-primary text-white nav-link dropdown-toggle" aria-haspopup="true" aria-controls="dropdown-menu" data-bs-toggle="dropdown" href="#" aria-expanded="false">
        @Model.ButtonText <i class="arrow down"></i>
    </a>
    <ul class="dropdown-menu">
        @foreach (var value in Model.DropdownValues)
        {
            <li><a class="dropdown-item" href="#" onclick="@javascriptMethodName ('@value');">@value</a></li>
        }
    </ul>
</li>