span, div, button {
    overflow-wrap: break-word
}

html, body, .navbar, .off-white-bg-color {
    background-color: #FFFAFA;
}

.is-vcentered {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.story-chart-container {
    width: 80%;
}

.page-chart-container {
    width: 80vw;
}

.pointer { cursor: pointer; }

.modal-card-wide { width: 98vw  }

.no-pointer {
    cursor: default;
    pointer-events: none;
}

.invisible { display: none !important; }

.mr-5half {
    margin-right: 2.1rem!important;
}

.is-danger-background-color {
    background-color: #f14668 !important;
}

.is-success-background-color {
    background-color: #48c774 !important;
}

.is-warning-background-color {
    background-color: #ffdd57 !important;
}

.is-danger-text-color {
    color: #ffffff !important;
}

.is-success-text-color {
    color: #ffffff !important;
}

.is-warning-text-color {
    color: rgba(0,0,0,.7) !important;
}

.half-width {
    width: 50%;
}

.quarter-width {
    width: 25%;
}

.center-horizontally {
    margin-left: auto;
    margin-right: auto;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

.column.is-three-quarters {
    flex: none;
    width: 75%;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.rounded-top-corners {
    border-radius:50px 50px 0 0;
}

.rounded-bottom-corners {
    border-radius:0 0 50px 50px ;
}

.rounded-all-corners {
     border-radius:50px 50px 50px 50px;
 }

*, .button {
    font-family: 'Karla', sans-serif;
}

.title {
    font-family: 'Roboto', sans-serif;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}